
export(app)
importFrom("quantreg","rq")
import(stringr)
import(splines)
import(bslib)
import(dplyr)
import(ggplot2)
import(readtext)
import(shiny)
import(shinydashboard)
import(shinyWidgets)
import(splines)
importFrom("stats", "coef", "formula", "glm", "pnorm", "predict", "reshape", "runif", "sd", "vcov")
importFrom("utils", "write.table")
importFrom("parallel","makeCluster","stopCluster")
importFrom("doParallel","registerDoParallel")
import(foreach)

useDynLib(normativeBRAIN)
